$black: #000;
$white: #FFF;
$red: #DA0000;
$color-nav: #434343;
$shadow: #787878;
$background: #e0e0e0;
$link: rgba(255,255,255,0.7);
$border-control: rgba(0, 0, 0, 0.85);
$btn-submit: #222;
$icon-see: #0082C8;
$icon-edit: #F9CD2C;
$icon-delete: #FF291F;
$login-background: #353433;
$drop-red: #FF1C1C;