$black: #000;
$color-nav: #434343;
$shadow: #787878;
$background: #e0e0e0;
$blue-link: #308EFF;
$border-control: rgba(0, 0, 0, 0.85);
$btn-submit: #222;
$icon-see: #0082C8;
$icon-edit: #F9CD2C;
$icon-delete: #FF291F;