@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Source+Sans+Pro|Titillium+Web');
@import "./components/variables.scss";

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}


header {
  grid-area: header;
  background-color: $color-nav;
  width: 100%;
  height: 65px;
  position: fixed;
  z-index: 999;
}

.main {
  grid-area: main;
  overflow: scroll;
  width: 100%;
  height: 100vh;
  margin-top: 80px;
}

footer {
  background-color: $black;
  width: 100%;
  height: 150px;
}

.grid-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-areas:
    'header header'
    'menu main';
  background-color: $background;
}

.logo {
  margin-left: 20px;
  margin-top: 8px;
  width: 45px;
  &:hover {
    transition: 0.3s;
    opacity: 0.9;
  }
}

.navbar-side {
  color: #FFF;
  grid-area: menu;
  width: 195px;
  background-color: $color-nav;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;

  .row {
    margin-left: 5px;
  }

  a {
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
  }
  a:hover {
    color: #33d5db;
    text-decoration: none;
    transition: 0.3s;
    opacity: 0.9;
  }
  .icons-nav {
    width: 25px;
  }
}

.active {
  color: red;
}

.separator {
  background-color: $background;
  width: 100%;
  height: 3px;
}

.bold {
  font-weight: bold;
}

.btn-submit {
  width: 100%;
  height: 60px;
  text-align: center;
  color: #FFF;
  background-color: $color-nav;
  border: none;
  &:hover {
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 1px 1px 1px $shadow;
    opacity: 0.9;
  }
}

._form-control {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  font-size: 19px;
  border: 2px solid $color-nav;
  &:focus {
    outline: none;
    transition: 0.5s;
    box-shadow: 1px 1px 5px $shadow;
  }
}

.actions-container {
  width: 80%;
  bottom: 0;
  position: absolute;
  right: 0;
  margin-right: 35px;
  button {
    height: 45px;
    outline: none;
    i {
      font-size: 19px;
      &:hover {
        transition: 0.3s;
        opacity: 0.9;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

.navbar-content {
  margin-top: 75px;
}

.box-product-import {
  background-color: #FFF;
  width: 100%;
  height: 300px;
  &:hover {
    transition: 0.3s;
    opacity: 0.9;
  }
}

html {
  background-color: $login-background;
}

.login_view {
  background-color: $login-background;
  width: 100%;
  height: 100vh;
}

.login_form {
  background-color: $login-background;
}

.form-control {
  background-color: transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: inherit !important;
  color: $white !important;
  &:focus {
    box-shadow: none !important;
    border-color: $white;
  }
}


