@import "./components/variables.scss";

.graph-sales, .overview {
    background-color: #FFF;
    width: 100%;
    min-height: 300px;
    box-shadow: 1px 1px 1px $shadow;
    &:hover {
        transition: 0.5s;
        opacity: 0.9;
    }
}

.selling-products {
    background-color: #FFF;
    width: 100%;
    min-height: 150px;
    box-shadow: 1px 1px 1px $shadow;
    &:hover {
        transition: 0.5s;
        opacity: 0.9;
    }
}

.chartjs-render-monitor {
  padding: 15px;
}

.overview {
    .res_val {
        float: left;
    }
}
