@import "./components/variables.scss";

.graph-sales, .overview {
    background-color: #FFF;
    width: 100%;
    height: 300px;
    box-shadow: 1px 1px 1px $shadow;
    &:hover {
        transition: 0.5s;
        opacity: 0.9;
    }
}