@import "./components/variables.scss";

.order-box {
  background-color: #FFF;
  width: 100%;
  height: 120px;
  .text-order-box {
    display: flex;
    p {
      margin: 6px;
    }
    .nb-order {
      color: $blue-link;
    }
  }
}