@import "./components/variables.scss";

.register_form {
    padding-top: 50px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #4e73df;
    margin-top: 40vh;
    transform: translateY(-35%);
    background-color: white;
    width: 600px;
    padding-left: 100px;
    padding-right: 100px;
    height: 600px;
    margin-bottom: 100px;
    @media only screen and (max-width: 790px) {
      width: 95%;
      transform: translateY(-30%);
      padding-left: 25px;
      padding-right: 25px;
  }
}

.login-view {
  margin-bottom: 100px;
}

.btn_register {
  width: 100%;
  text-align: center;
  color: #FFF;
  border: none;
  background-color: $drop-red;
  padding: 12px;
  cursor: pointer;
  &:hover {
    transition: 0.5s;
    opacity: 0.9;
  }
}

._link {
  color: #4e73df !important;
  text-decoration: none !important;
}