@import "./components/variables.scss";

.register_form {
  padding-left: 300px;
  padding-right: 300px;
  color: $white;
  margin-top: 100px;
}

.btn_register {
  width: 100%;
  text-align: center;
  color: #FFF;
  border: none;
  background-color: $drop-red;
  padding: 12px;
  cursor: pointer;
  &:hover {
    transition: 0.5s;
    opacity: 0.9;
  }
}